@import '../../../css/less/vars';

.row{
  margin-top: 20px;
  margin-bottom: 20px;
}

pre{
  padding: 0;
  code{
    padding: 2.6rem 2rem 0 2rem !important;
    font-size: @font-size-large;
  }
}

.icon-block{
  text-align: center;
  padding: 2rem 1rem;
  font-size: 14px;
  height: 180px;
}