@import '../../../css/less/vars';

.row{
  margin-top: 20px;
  margin-bottom: 20px;
}

pre{
  padding: 0;
  code{
    padding: 2.6rem 2rem 0 2rem !important;
    font-size: @font-size-large;
  }
}

.icon-block{
  text-align: center;
  padding: 2rem 1rem;
  font-size: 14px;
  height: 180px;
}

[ui-view].ng-enter, [ui-view].ng-leave {
  transition:all .5s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
  margin-top: 80px;
}

[ui-view].ng-enter-active {
  opacity: 1;
  margin-top: 0;
}

[ui-view].ng-leave {
  display:none;
}

[ui-view].ng-leave-active {
  display:none;
}