<div>
    <div class="row"><h1>Color Schema</h1></div>

    <div class="row"><h2>Brand Colors</h2></div>
    <div class="row">
        <div class="col-xs-6 col-md-4">
            <ul class="list-group color-list brand-primary-colors">
                <li class="list-group-item">@brand-primary<br/>#0869a0</li>
                <li class="list-group-item">@brand-primary-lt1<br/>#1b7cb4</li>
                <li class="list-group-item">@brand-primary-lt2<br/>#aad7f1</li>
                <li class="list-group-item">@brand-primary-lt3<br/>#ddedf8</li>
                <li class="list-group-item">@brand-primary-lt4<br/>#edf8ff</li>
            </ul>
        </div>
        <div class="col-xs-6 col-md-4">
            <ul class="list-group color-list brand-other-colors">
                <li class="list-group-item">@brand-success<br/>#5cb85c</li>
                <li class="list-group-item">@brand-info<br/>#5bc0de</li>
                <li class="list-group-item">@brand-warning<br/>#f0ad4e</li>
                <li class="list-group-item">@brand-danger<br/>#d14747</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 col-md-4">
            <h2>Grey Colors</h2>
            <ul class="list-group color-list grey-colors">
                <li class="list-group-item">@gray-darkest<br/>#222d32</li>
                <li class="list-group-item">@gray-darker<br/>#5f6d75</li>
                <li class="list-group-item">@gray-dark<br/>#7a8a94</li>
                <li class="list-group-item">@gray<br/>#999999</li>
                <li class="list-group-item">@gray-light<br/>#f5f5f5</li>
                <li class="list-group-item">@gray-lighter<br/>#4f9dd1</li>
                <li class="list-group-item">@gray-lightest<br/>#f9f9f9</li>
            </ul>
        </div>

        <div class="col-xs-6 col-md-4">
            <h2>Other Colors</h2>
            <ul class="list-group color-list other-colors">
                <li class="list-group-item">@alert-info<br/>#93d151</li>
                <li class="list-group-item">@alert-warning<br/>#dfa722</li>
                <li class="list-group-item">@alert-error<br/>#e45a49</li>
            </ul>
        </div>
    </div>
</div>