<div class="col-xs-2 side-bar" ng-controller="nb.guideline.sidebarCtrl as ctrl">

    <div class="logo">
        <img src="img/netbrain-logo-transparent.png" />
        <!--<p>UI Guideline</p>-->
    </div>
    <div class="menu" ng-click="ctrl.onTabSelect('overview')">
        Overview
    </div>
    <div class="sub-menu" ng-show="ctrl.selectedTab === 'overview'">
        <div><a ui-sref="home.introduction">Introduction</a></div>
        <div><a ui-sref="home.practices">Best Practices</a></div>
        <div><a ui-sref="home.changes">Change Logs</a></div>
    </div>

    <div class="menu" ng-click="ctrl.onTabSelect('design')">
        Style
    </div>
    <div class="sub-menu" ng-show="ctrl.selectedTab === 'design'">
        <div><a ui-sref="home.colors">Color Schema</a></div>
        <div><a ui-sref="home.fonts">Typography</a></div>
    </div>

    <div class="menu">
        <div><a ui-sref="home.icons" style="color: #000;">Icons</a></div>
    </div>

    <div class="menu" ng-click="ctrl.onTabSelect('components')">
        Components
    </div>
    <div class="sub-menu" ng-show="ctrl.selectedTab === 'components'">
        <div>Input</div>
        <div><a ui-sref="home.button">Buttons</a></div>
        <div><a ui-sref="home.dropdown">Dropdown</a></div>
        <div><a ui-sref="home.grid">Table</a></div>
        <div><a ui-sref="home.tree">Treeview</a></div>
        <div><a ui-sref="home.tab">Tab</a></div>
        <div><a ui-sref="home.modal">Modal</a></div>
        <div><a ui-sref="home.dateTimePicker">Date/Time Picker</a></div>
        <div><a ui-sref="home.popover">Popover</a></div>
        <div><a ui-sref="home.toastr">Toastr</a></div>
    </div>

    <div class="footer">
        Copyright © 2017. NetBrain Technologies Inc.
        <br/>All rights reserved.
    </div>
</div>