<div class="modal-header">
    <div class="icon-container" ng-click="close()">
        <span class="icon close"></span>
    </div>
    <h3 class="modal-title">
        <span>About NetBrain</span>
    </h3>
</div>
<div class="modal-body" id="about-body">
    <p>
        Integrated Edition {{::version.ProductVersion}} ( {{::version.Date}} ), HgVersion: {{::version.HgVersion}}
    </p>
    <p>
        For the latest product information, please visit us at <a href="http://www.netbraintech.com/" target="_blank">http://www.netbraintech.com/</a>
    </p>
    <p>
        <a href="https://www.netbraintech.com/legal/open-source/" target="_blank">Open Source Software</a>
    </p>
    <p>
        <span>
            Copyright © {{::copyYear}}
        </span>
        <span>
            NetBrain Technologies, Inc.
        </span>
        <span>
            All rights reserved.
        </span>
    </p>
    <p>
        Warning: This computer program is protected by copyright law and international treaties unauthorized reproduction or distribution of this program, or any portion of it, may result in severe civil and criminal penalties, and will be prosecuted to the maximum extent possible under the law.
    </p>
</div>
