<div class="nb-date-picker-wrap">
    <input type="text" class="form-control"  ng-focus="opened=true;" ng-required="true" uib-datepicker-popup ng-model="dt" close-on-date-selection="true" datepicker-options="options" is-open="opened" on-open-focus="false" datepicker-append-to-body="appendToBody" datepicker-popup-template-url="nb/template/datepickerPopup/popup.html" />
    <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="opened=!opened" atag="domainMg:scheduleTask:addDisPopup:openDateBtn">
            <i class="icon_nb_calendar"></i>
        </button>
    </span>
</div>
