<div id="moveOrderBtns" class="nbMoveOrderDirective-moveOrderDiv-">
    <div ng-class="{nbMoveOrderDirective_dataview_border_shadow:!disableMoveToTop, nbMoveOrderDirective_disableBorder:disableMoveToTop}" class="glyphicon glyphicon-chevron-up nbMoveOrderDirective_moveToTop" id="moveTopest" ng-click="moveToTop()"></div>
    <div ng-class="{nbMoveOrderDirective_dataview_border_shadow:!disableMoveUp,     nbMoveOrderDirective_disableBorder:disableMoveUp}" class="glyphicon glyphicon-chevron-up nbMoveOrderDirective_moveUp" id="moveUp" ng-click="moveUp()"></div>
    <div ng-class="{nbMoveOrderDirective_dataview_border_shadow:!disableMoveDown,   nbMoveOrderDirective_disableBorder:disableMoveDown}" class="glyphicon glyphicon-chevron-down nbMoveOrderDirective_moveDown" id="moveDown" ng-click="moveDown()"></div>
    <div ng-class="{nbMoveOrderDirective_dataview_border_shadow:!disableMoveToBottom, nbMoveOrderDirective_disableBorder:disableMoveToBottom}" class="glyphicon glyphicon-chevron-down nbMoveOrderDirective_moveToBottom" id="moveLowest" ng-click="moveToBottom()"></div>
</div>
