<div>
    <div ng-attr-title="{{getNodeTitle(node, trvw)}}"
         class="ivh-node-row"
         ng-click="selectNode(node, trvw, $event)"
         ng-class="{selected: trvw.isSelected(node)}"
         nb-right-click="openDropdown(node, $event, trvw)"
         ng-if="::isTreeItemVisible(node, trvw) && !enableTwoWayBinding">
        <div class="ivh-treeview-toggle node-arrow" ng-click="toggleNode(node, trvw, $event)" ng-show="showToggleArrow(node, trvw)">
            <span>
                <i ng-class="{'icon_nb_tree_collapse': trvw.isExpanded(node), 'icon_nb_tree_expand': !trvw.isExpanded(node)}"></i>
            </span>
        </div>
        <span class="node-arrow-placeholder" ng-show="!showToggleArrow(node, trvw)"></span>
        <span class="node-checkbox" ng-show="::showCheckBox()">
            <input type="checkbox"
                   ng-click="checkboxChanged(node, trvw, $event)">
        </span>

        <span class="node-icon" ng-bind-html="::getTemplateIcon(node, trvw)"></span>

        <span class="ivh-treeview-node-label node-label"
              ng-bind-html="::getTemplateLabel(node, trvw)" ng-if="!showEditable(node, trvw)"></span>

        <input class="ivh-treeview-node-label ivh-treeview-toggle node-label-editable"
             ng-if="showEditable(node, trvw)"
             ng-init="initEditableContent(node, trvw)">

        <span class="node-dropdown-arrow"
              ng-if="::isDisplayDropdown(node, trvw)"
              ng-click="openDropdown(node, $event, trvw)">
            <i class="icon_nb_action_menu"></i>
        </span>
    </div>

    <div ng-attr-title="{{getNodeTitle(node, trvw)}}"
         class="ivh-node-row"
         ng-click="selectNode(node, trvw, $event)"
         ng-class="{selected: trvw.isSelected(node)}"
         nb-right-click="openDropdown(node, $event, trvw)"
         ng-if="::isTreeItemVisible(node, trvw) && enableTwoWayBinding">
        <div class="ivh-treeview-toggle node-arrow" ng-click="toggleNode(node, trvw, $event)" ng-show="showToggleArrow(node, trvw)">
            <span ng-show="trvw.isExpanded(node)" ng-cloak><i class="icon_nb_tree_collapse"></i></span>
            <span ng-show="!trvw.isExpanded(node)" ng-cloak><i class="icon_nb_tree_expand"></i></span>
        </div>
        <span class="node-arrow-placeholder" ng-show="!showToggleArrow(node, trvw)"></span>
        <span class="node-checkbox" ng-show="showCheckBox()">
            <input type="checkbox"
                   ng-click="checkboxChanged(node, trvw, $event)">
        </span>

        <span class="node-icon" ng-bind-html="getTemplateIcon(node, trvw)"></span>

        <span class="ivh-treeview-node-label node-label"
              ng-bind-html="getTemplateLabel(node, trvw)" ng-if="!showEditable(node, trvw)"></span>

        <div class="ivh-treeview-node-label ivh-treeview-toggle node-label-editable"
             contenteditable="true"
             ng-if="showEditable(node, trvw)"
             ng-init="initEditableContent(node, trvw)">
            {{getTemplateLabel(node,trvw, true)}}
        </div>

        <span class="node-dropdown-arrow"
              ng-if="isDisplayDropdown(node, trvw)"
              ng-click="openDropdown(node, $event, trvw)">
            <i class="icon_nb_action_menu"></i>
        </span>
    </div>

    <div ivh-treeview-children ng-if="trvw.isExpanded(node)"></div>
</div>