<div>
    <div class="row"><h1>Icons</h1></div>

    <div class="row"><h3>Usage</h3></div>

    <div class="row">
        <div class="col-xs-12">
            <span class="start-circle-button"></span>
            <span class="icon-qapp-event"></span>
            <span class="run-cli-command"></span>
            <br/>
            <br/>
        </div>
        <div class="col-xs-12" hljs>
<span class="start-circle-button"></span>
<span class="icon-qapp-event"></span>
<span class="run-cli-command"></span>
        </div>
    </div>

    <div class="row"><h3>Classes</h3></div>

    <div class="row icons-wrap">

    </div>
</div>