<div>
    <div class="row"><h1>Toastr</h1></div>

    <div class="row">
        <div class="col-xs-4 col-md-2">
            <button class="btn btn-success" ng-click="ctrl.openSuccessToastr()">Success Toastr</button>
        </div>
        <div class="col-xs-4 col-md-2">
            <button class="btn btn-danger" ng-click="ctrl.openErrorToastr()">Error Toastr</button>
        </div>
        <div class="col-xs-4 col-md-2">
            <button class="btn btn-info" ng-click="ctrl.openInfoToastr()">Info Toastr</button>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12" hljs>
angular.module('nb.guideline').controller('nb.guideline.toastrCtrl', ToastrCtrl);

ToastrCtrl.$inject = ['nb.common.nbToastr'];
function ToastrCtrl(nbToastr){
    var self = this;
    self.openSuccessToastr = function(){
        nbToastr.success('This is a successful toastr!')
    }

    self.openErrorToastr = function(){
        nbToastr.error('This is a error toastr!')
    }

    self.openInfoToastr = function(){
        nbToastr.info('This is a information toastr!')
    }
}
        </div>
    </div>
</div>